page-order {
	.tool-bar-padding {
	padding: 2px;
	}

	.no-padding {
	padding: 0px;
	}

	.no-top-padding {
	padding-top: 0px;
	}
	.border {
	border: solid 1px ;
	}
	
	.card-header{
	background-color:#66a3ff;
	}
	.card-table {
	background-color:#cce0ff
	}

	.card-money {
	background-color: #ffffff;
	}
	.card-time {
	background-color: #ffffff;
	}

	

	.text-center {
	text-align: center;
	}

	.table-footer {
	background-color: #e5e5cc;
	}

	.text-color-white{
		text-color: white;
	}

	.table-border{
		border-left: solid #ffffff 1px;
		border-right: solid #ffffff 1px;   

	}
    
    .header-padding {
        padding-top: 20px;
    }
}
