page-create-order {
    .select-type{
        background-color: gray;
    }
    
    .no-padding{
        padding: 0px;
    }
    .product-background{
        background-color: #f5f5f0;
    }
    
    .add-remove-padding{
        padding-top: 15px;
    }
}
